<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Home | X.R</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="animation_div">
    <div class="line1">
        <svg viewBox="0 0 1377 1080" fill="none" width="1377px" height="1080px">
            <path d="M1373.06 -29.4802L1266.95 120.609C1122.55 324.85 932.006 439.984 746.506 435.075V435.075C499.911 428.548 250.569 633.43 109.266 958.688L3.47478 1202.2"
                  stroke="#00FF75" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
    <div class="line2">
        <svg viewBox="0 0 1377 1080" fill="none" width="1377px" height="1080px">
            <path d="M1373.06 -29.4802L1266.95 120.609C1122.55 324.85 932.006 439.984 746.506 435.075V435.075C499.911 428.548 250.569 633.43 109.266 958.688L3.47478 1202.2"
                  stroke="#00FF75" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
    <div class="line3">
        <svg viewBox="0 0 1377 1080" fill="none" width="1377px" height="1080px">
            <path d="M1373.06 -29.4802L1266.95 120.609C1122.55 324.85 932.006 439.984 746.506 435.075V435.075C499.911 428.548 250.569 633.43 109.266 958.688L3.47478 1202.2"
                  stroke="#00FF75" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
    <div class="line4">
        <svg viewBox="0 0 1377 1080" fill="none" width="1377px" height="1080px">
            <path d="M1373.06 -29.4802L1266.95 120.609C1122.55 324.85 932.006 439.984 746.506 435.075V435.075C499.911 428.548 250.569 633.43 109.266 958.688L3.47478 1202.2"
                  stroke="#00FF75" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
    <div class="line5">
        <svg viewBox="0 0 1377 1080" fill="none" width="1377px" height="1080px">
            <path d="M1373.06 -29.4802L1266.95 120.609C1122.55 324.85 932.006 439.984 746.506 435.075V435.075C499.911 428.548 250.569 633.43 109.266 958.688L3.47478 1202.2"
                  stroke="#00FF75" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
</div>

<section class="all">
    {% block project %}
        <section class="page">
            <div class="page_sections" style="opacity: 1;">
                <div class="social_profiles" style="margin-top: -150px;">
                    <div class="profile_box">
                        <a href="https://t.me/star_none" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                    </div>
                    <div class="profile_box">
                        <a href="https://t.me/star_none" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div class="profile_box">
                        <a href="https://t.me/star_none" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div class="profile_box">
                        <a href="https://t.me/star_none" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <div class="profile_box">
                        <a href="https://t.me/star_none" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <div class="profile_box">
                        <a href="https://t.me/star_none" target="_blank"><i class="fa-brands fa-google"></i></a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    <header class="headerA">
        <div class="nav_logo100">
            Kholmatov Ramzidin
        </div>
        <div class="plus_boxB">
            <p>I’m a passionate
                <text style="color: var(--primary-color)">Full stack</text>
                developer from
                <text style="border-bottom: 2px solid var(--primary-color);">Uzbekistan</text>
            </p>
        </div>
        <div class="nav_linkV1">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="#">About</a>
            <a href="#">Resume</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
            <div class="none_click"></div>
        </div>
    </header>
</section>
<script src="https://kit.fontawesome.com/d17442df75.js" crossorigin="anonymous"></script>
<script src="/static/js/script.js"></script>
</body>
</html>