<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test | X.R</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="main" style="width: 100%">
    <div class="page_sections" style="opacity: 1;top: 0;">
        <div class="page_first_info">
            <div class="page_name">
                Portfolio
            </div>
            <div class="portfolio">
                <div class="title_info">
                    my works
                </div>
                <div class="portfolio_box">
                    <div class="after_portfolio"></div><div class="before_portfolio"></div>
                    <div class="portfolio_filter_box">
                        <div class="filter_btn">
                            All
                        </div>
                        <div class="filter_btn">
                            Web
                        </div>
                        <div class="filter_btn">
                            Video
                        </div>
                    </div>
                    <div class="project_box">
                        <img src="/static/img/gl.jpg" alt="">
                        <div class="project_links">
                            <a href="#" class="site_link"><i class="fa-solid fa-arrow-up-right-from-square"></i> visit site</a>
                            <a href="#" class="view_project">View the project</a>
                        </div>
                    </div>
                    <div class="project_box">
                        <img src="/static/img/gl.jpg" alt="">
                        <div class="project_links">
                            <a href="#" class="site_link"><i class="fa-solid fa-arrow-up-right-from-square"></i> visit site</a>
                            <a href="#" class="view_project">View the project</a>
                        </div>
                    </div>
                    <div class="project_box">
                        <img src="/static/img/gl.jpg" alt="">
                        <div class="project_links">
                            <a href="#" class="site_link"><i class="fa-solid fa-arrow-up-right-from-square"></i> visit site</a>
                            <a href="#" class="view_project">View the project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/d17442df75.js" crossorigin="anonymous"></script>
</body>
</html>