<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test | X.R</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="main" style="width: 100%">
    <div class="page_sections" style="opacity: 1;top: 0;">
        <div class="page_first_info">

        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/d17442df75.js" crossorigin="anonymous"></script>
</body>
</html>